---

import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astrolus.">
	<main class="flex-col flex h-screen justify-between">
		<HeroSection/>
		<div class="text-center flex w-max mx-auto dark:text-white text-black items-center text-1xl py-5 ">

			© 2023 HacktivSpace Community.
		 </div>
	</main>
</Layout>